name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install dependencies
      run: npm install

    - name: Download Binaries
      run: |
        mkdir -p src-tauri/resources/bin/x86_64
        curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp_macos -o src-tauri/resources/bin/x86_64/yt-dlp
        curl -L https://evermeet.cx/ffmpeg/ffmpeg-113323-g5305b644a2.zip -o ffmpeg.zip
        unzip ffmpeg.zip
        mv ffmpeg src-tauri/resources/bin/x86_64/ffmpeg
        chmod +x src-tauri/resources/bin/x86_64/yt-dlp
        chmod +x src-tauri/resources/bin/x86_64/ffmpeg
        touch src-tauri/resources/bin/CHECKSUMS.txt

    - name: Run tests
      run: |
        cd src-tauri
        cargo test

    - name: Build
      run: npm run tauri:build
